body {
     background-image: url('../bg/v567-adj-20-doodles.jpg');

     background-size: cover; /* чтобы картинка масштабировалась по размеру экрана */
     background-position: center; /* центрируем картинку */
     background-repeat: no-repeat; /* чтобы картинка не повторялась */
     background-attachment: fixed; /* фон фиксирован при прокрутке */
}

.container {
  max-width: 730px;
  margin: 0 auto;              /* Центрируем контейнер по горизонтали */
  padding: 20px;               /* Отступы внутри контейнера */
}