body {
     background-image: url('../bg/v567-adj-20-doodles.jpg');

     background-size: cover;
     background-position: center; 
     background-repeat: no-repeat; 
     background-attachment: fixed; 
}

.container {
  max-width: 730px;
  margin: 0 auto;             
  padding: 20px;              
}
